* {
	margin: 0;
	padding: 0;
}
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* padding: 1em; */
	/* padding: 0; */
	/* width: 100%; */
	padding: 10px;
	border: 1px solid black;
}

.logo {
	height: 100px;
}

.nav-items > ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 30px;
}

.nav-items > ul > li {
	list-style: none;
	cursor: pointer;
}
